<%= javascript_include_tag conduits_path %>


<div style="float:right;width: 300px; margin-right: 100px; margin-top: 300px">
	<p>is a tool for browsing simultaneously with other humans. </p>
	<p>It requires <%= link_to "Firefox", "http://getfirefox.com" %>, and the installation of <%= link_to "this", download_conduits_path %> plugin</p>
	<p>Once its installed, links will appear on this website. Just click on them to open a conduit.</p>
</div>

<div style="clear:both">
	<ul>
	<% @conduits.each do |conduit| %>
		<li><strong><%= conduit.key %></strong> at <em><%= link_to conduit.url, '#', :onclick => 'talkToConduit(this)', :id => conduit.key %></em></li>
	<% end %>
	</ul>
</div>