<% content_for :css do %>
<%= stylesheet_link_tag conduits_path %>
<% end %>

<%= javascript_include_tag conduits_path %>

<div style="float:right;width: 300px; margin-right: 100px; margin-top: 300px">
	<p>is a tool for browsing simultaneously with other humans. </p>
	<p>It requires <%= link_to "Firefox", "http://getfirefox.com" %>, and the installation of <%= link_to "this", download_conduits_path %> plugin</p>
	<p>Once installed, links will appear on this page. Just click them to open a conduit.</p>
</div>

<div style="clear:right;">
	<div id="conduitList" style="display:none;">
		<div style="margin-top:100px; margin-right:30px; float:right;">
		<%= link_to("Create a new conduit", new_conduit_path) %>
		</div>
	
		<table >
		<% @conduits.each do |conduit| %>
			<tr><td style="text-align:right"><strong><%= conduit.key %></strong> at </td><td><em>
			<%= link_to URI.parse(conduit.url).host, '#', :onclick => 'talkToConduit(this)', :id => conduit.key.gsub(/ /,'_') %></em></td></tr>
		<% end %>
		</table>
	</div>
</div>
